h2,
ul,
li {
  list-style: none;
}

.item > ul > li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 315px;
}
.item > ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
